* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-image: url('фон1.jpg');
  background-repeat: repeat-y;
  background-attachment: fixed;
}
.header img {
  width: 100%;
}
.header h1 {
  text-align: center;
  color: #884513;; /* коричневый цвет для тематики кафе */
}
.content {
  margin-left: 20%;
  padding: 1px 16px;
  background-color: rgba(255, 255, 255, 0.8); /* полупрозрачный фон для читаемости */
}
h2 {
  color: #8B4513; /* коричневый для заголовков */
}
p {
  color: #884513;
  font-size: 16px;
  line-height: 1.6;
}
.menu {
  list-style: none;
  display: flex;
  background-color: #8B4513; /* коричневый для меню */
  border-radius: 10px;
  overflow: hidden;
}
.menu li {
  flex: 25%;
}
.menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.menu a:hover {
  background-color:  #5C3A21; /* темнее при наведении */
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
}